[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "PBIBD"]
	path = PBIBD
	url = https://github.com/cran/PBIBD
	shallow = true
	registered = true
